@mixin flexcontent {
  display: flex;
  justify-content: center;
}
@mixin width_height {
  width: 35px;
  height: 35px;
}

body{
  background: linear-gradient(270deg, rgba(102, 209, 255, 0.25)0%, rgba(204, 41, 240, 0.50) 100%);
  margin: 0;
  min-height: 100vh;
}
header{
  padding-right: 3.875rem;
  max-width: 100%;
  display: flex;
  background-image: url(./medias/header.png);
  background-size: cover;
  height: 204px;
  align-items: center;
  padding-left: 8.25rem;
}
.box{
 background-image: url(./medias/loupe.png);
 background-size: 1.875rem;
 background-repeat: no-repeat;
 background-position: 50% 50%;
}
.search{
  background-color: #fff;
  display: grid;
  grid: 4.3125rem/ 10rem 37.5rem 60px;
  margin: 0 auto;
  button{
    margin-right: 20px;
    margin-top: 16px;
    height: 40px;
    border-radius: 2.5rem;
    background-color: #fff;
    background-image: url(./medias/add.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    transition: transform 2s;
    }
    button:hover{
      transform: rotate(360deg);
    }
    input{
      text-align: center;
      border: 0;
      font-size: 1.25rem;
 }
}

 /* bouton jour / nuit */
   .toggle-checkbox {
    @include width_height();
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle-slot {
    font-size: 0.625rem;
    position: relative;
    height: 3.5em;
    width: 70px;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0 0 0 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0 0 0 0.75em white;
    transform: translate(3.65em, 0.25em);
  }
  
  .sun-icon {
    @include width_height();
    position: absolute;
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    @include width_height();
    position: absolute;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
  }
  
  .moon-icon {
    @include width_height();
    position: absolute;
    color: white;
  }
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
  } 

  main {
    @include flexcontent()
  }

  #app{
    display: grid;
    margin: -3.125rem 0 3.125rem 0;
    background-color: #fff;
    width: 822px;
    padding : 2.5rem 5rem;
    box-sizing: border-box;
    justify-items: center;
  }

/*................. boutons radio ...........*/
.radio-inputs {
  @include flexcontent();
  position: relative;
  flex-wrap: wrap;
  background-color: rgba(0, 209, 255, .25);
  box-sizing: border-box;
  box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.06);
  width: 491px;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.3125rem;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
  transition: all 1s ease-out;
}
.radio:hover{
  background-color: rgba(0, 209, 255, .5);
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  @include flexcontent();
  cursor: pointer;
  align-items: flex-start;
  border: none;
  padding: .5rem 0;
  color: #000;
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #00D1FF;
  font-weight: 700;
}
/* ..................    checkbox ............. */
.container{
  margin-top: 3.4375rem;
   overscroll-behavior: contain;
}

.checklist {
    cursor: grab;
  margin-bottom: 2.8125rem;
  width: 623px;
  height: 31px;
  border-radius: 1.25rem;
  padding: 1.625rem 1.875rem 1.75rem 1.875rem;
  position: relative;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 0.625rem 1fr 3.125rem;
  align-items: center;
  justify-content: center;
  input {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 0.9375rem 0 0;
    cursor: pointer;
    display: grid;
    align-items: center;
    margin-right: 1.25rem;
  }
  label {
    color: #000;
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    text-align: left;
    transition: color 0.3s ease;
    margin:0 1.25rem 0 3.125rem;
    padding-right: 20px;
  }
  label::before, label::after{
    content: "";
    position: absolute;
  }
  
  label::before{
    height: 2px;
    width: 8px;
    left: -3.5625rem;
    background: #cc29f0;
    border-radius: 0.125rem;
    transition: background 0.3s ease;
  }
  label::after{
    height: 4px;
    width: 4px;
    top: 0.5rem;
    left: -1.5625rem;
    border-radius: 50%;
  }
  
  &.rose{
    background-color: rgba(255, 122, 231, 0.50);
    }
    
}

   input::before, input::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: #cc29f0;
    border-radius: 0.125rem;
  }
  
  input::before{
    right: 60%;
    transform-origin: right bottom;
  }
  input::after{
    left: 40%;
    transform-origin: left bottom;
  }
  
  input:checked::before{
    animation: check-01 0.4s ease forwards;
  }
  
 input:checked::after{
    animation: check-02 0.4s ease forwards;
  }
  
  input:checked + label {
    color: #000;
    animation: move 0.3s ease 0.1s forwards;
    }
  
  input:checked + label::before{
    background: #000;
    animation: slice 0.4s ease forwards;
  }
  
  input:checked + label::after{
    animation: firework 0.5s ease forwards 0.1s;
  }
  
  @keyframes move {
    50% {
      padding-left: 0.5rem;
      padding-right: 0;
    }
  
    100% {
      padding-right: 0.25rem;
    }
  }
  @keyframes slice {
    60% {
      width: 100%;
      left: 0.25rem;
    }
  
    100% {
      width: 100%;
      left: -0.125rem;
      padding-left: 0;
    }
  }
  
  
  @keyframes check-01 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
  
    50% {
      width: 0;
      top: auto;
      transform: rotate(0);
    }
  
    51% {
      width: 0;
      top: 0.5rem;
      transform: rotate(45deg);
    }
  
    100% {
      width: 5px;
      top: 0.5rem;
      transform: rotate(45deg);
    }
  }
  
  @keyframes check-02 {
    0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
    }
  
    50% {
      width: 0;
      top: auto;
      transform: rotate(0);
    }
  
    51% {
      width: 0;
      top: 0.5rem;
      transform: rotate(-45deg);
    }
  
    100% {
      width: 10px;
      top: 0.5rem;
      transform: rotate(-45deg);
    }
  }
  
  @keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -0.125rem #4f29f0, 0 0 0 -0.125rem #4f29f0, 0 0 0 -0.125rem #4f29f0, 0 0 0 -0.125rem #4f29f0, 0 0 0 -0.125rem #4f29f0, 0 0 0 -0.125rem #4f29f0;
    }
  
    30% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      box-shadow: 0 -0.9375rem 0 0 #4f29f0, 0.875rem -0.5rem 0 0 #4f29f0, 0.875rem 0.5rem 0 0 #4f29f0, 0 0.9375rem 0 0 #4f29f0, -0.875rem 0.5rem 0 0 #4f29f0, -0.875rem -0.5rem 0 0 #4f29f0;
    }
  }
  
.stylo{
  background-color: transparent;
  background-image: url(./medias/stylo.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  width: 25px;
  height: 20px;
  border: none
}

.corbeille{
  background-color: transparent;
  background-image: url(./medias/corbeille.png);
  background-repeat: no-repeat;
  background-size: 20px;
  width: 25px;
  height: 20px;
  border: none;
}


button#delete{
  border: 0;
  background-color: #fff;
  color: red;
  margin-left: 330px;
  display: none;
}

/* ..................    fin de checkbox ............. */

@media (prefers-color-scheme : dark ) {
 body.night{
  background: linear-gradient(180deg, rgba(204, 41, 240, 0.05) 0%, rgba(204, 41, 240, 0.20) 100%), linear-gradient(180deg, #000 7.10%, #4A384E 100%);
}
 .night #app {
    background-color: #1d1b1b;
  }
  .night .radio-inputs, .night .checklist label::before, .night input::before, .night input::after{
    background-color: #fff;
  }
  .night input::before, .night input::after {
    background: #fff;
  }
  .night .checklist.rose {
    background: rgba(255, 122, 231, 0.50);
    input {
      background: rgba(255, 122, 231, 0);
    }
  }
  .night .checklist.blanc{
    background: #2C265D
  }
  .night .checklist label{
    color: #fff
  }
  .night label::before{
    color: #fff;
  }
  .night input:checked + label, .night input:checked + label::before{
    color: #fff;
  }
  .night .stylo{
    background-image: url(./medias/styloblc.svg);
    height: 20px;
    background-size: 1.25rem;
  }
  .night .corbeille{
    background-image: url(./medias/corbeille1.png);
    height: 20px;
    background-size: 1.25rem;
  }
}

@media (prefers-color-scheme : light ) {
  body.night{
   background: linear-gradient(180deg, rgba(204, 41, 240, 0.05) 0%, rgba(204, 41, 240, 0.20) 100%), linear-gradient(180deg, #000 7.10%, #4A384E 100%);
 }
  .night #app {
     background-color: #1d1b1b;
   }
   .night .radio-inputs{
     background-color: #fff;
   }
   .night label::before{
     background: #fff;
   }
   .night input::before, .night input::after{
     background: #fff;
   }
   .night .checklist.checklist.rose {
     background: rgba(255, 122, 231, 0.50);
   }
     .night .checklist.checklist.blanc{
     background: #2C265D
   }
   .night label{
     color: #fff
   }
   .night input:checked + label {
     color: #fff;
   }
   .night input:checked + label::before {
     background: #fff;
   }
   .night .stylo{
    background-image: url(./medias/styloblc.svg);
    height: 20px;
    background-size: 1.25rem;
  }
   .night .corbeille{
     background-image: url(./medias/corbeille1.png);
     height: 20px;
     background-size: 1.25rem;
   }
}


//   ................... Responsive ....................
@media screen and (max-width: 375px){
  header, header.night{
    height: 100px;
    padding-left: 15px;
    max-width: 100%;
  }
  .search {
    grid: 2.625rem/ 1.875rem 11.25rem 2.875rem;
	  margin: 0 20px;
  }
   button.search_button{
    margin-top: 5px;
    background-size: 55px;
    height : 32px;
    margin-right: 5px;
  }
  .box{
    padding-left: 10px;
  }
  
  #app{
    width: 370px;
    padding : 2.5rem 0;
    background: transparent;
  }
  .night #app{
    background: transparent;
  }
  
  .checklist {
    width: 312px;
  }
  .radio-inputs {
    margin-top: 2rem;
    width: 370px;
  }
  .toggle-slot {
    width: 35px;
  }
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
   transform: translate(0.1563rem, 0.1563rem) rotate(0deg);
  }
  .sun-icon-wrapper {
    transform: translate(0, 0) rotate(0deg);
    }
    .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
      @include width_height();
      opacity: 1;
      transform: translate(0, 0) rotate(0deg);
    }
    .toggle-checkbox {
      left: 20.1875rem;
      top: 1.875rem;
    }
    .radio-inputs {
      margin-bottom: 0;
    }
    .checklist.blanc{
      background-color: #fff;
    }
    .checklist {
      margin-bottom: 2.0625rem;
    }
    button#delete{
      margin-left: 230px;
      background: transparent;
    }
}
@media only screen and (min-width: 376px) and (max-width: 480px){
  header, header.night{
    height: 150px;
    max-width: 100%;
    padding-left: 1.25rem;
     }
  .search {
    grid: 42px/ 2rem 11.25rem 2.875rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    }
    button.search_button{
      margin-top: 0.3125rem;
      height: 32px;
      background-size: 3rem;
    }
    #app{
      margin: 0 0.625rem 0.625rem;
      width: 100%;
      padding: 1.25rem 0;
    }
    .night #app{
      background: transparent;
    }
    .checklist {
      width: 312px;
    }
    .radio-inputs {
      margin-top: 2rem;
      width: 370px;
    }
    button#delete{
      margin-left: 240px;
    
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  header{
  max-width: 100%;
  padding-left: 60px;
  padding-right: 1.25rem;
}
  .search {
    grid: 4.3125rem/ 3.75rem 25rem 4.125rem;
    margin: 0 auto;
      button{
      background-size: 2.8125rem;
     }
  }
  button.search_button{
    margin-top: 0.3125rem;
    height: 64px;
    background-size: 64px;
  }
  #app{
    padding : 2.5rem 1.25rem;
    margin: 0 1.25rem 1.25rem;
  }
  
}
@media only screen and (min-width: 769px) and (max-width: 1220px){
  header{
    padding-left: 0;
    padding-right: 10px;
  }
    .search{
      grid: 4.3125rem/ 5rem 41.5rem 5rem;
     margin-right: 10px;
    }
  }

@media only screen and (min-width: 2560px){
body{
  zoom: 200%;
}
}